
<h1>congratulations!!!</h1>
<h2>An extensive list with all our customers</h2>
<div ng-controller="welcomeCtrl">
     <table ng-show="toShow">
        <tr>
            <th>Username</th>
            <th>Email</th>
        </tr>
        <tr ng-repeat="customer in customers">
            <td>{{customer.CustName}}</td>
            <td>{{customer.CustEmail}}</td>
        </tr>
    </table>
</div>


<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-route.min.js"></script>
<script src="~/ControllersNg/WelcomeController.js"></script>
